@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Roboto+Slab");
#head {
  background-image: url("../img/hbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

header h2 {
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-size: 40px;
}
header h3 {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: lighter;
  margin-bottom: 72px;
}

#mainnav {
  padding-top: 32px;
  background: rgba(14, 17, 22, 0.7);
  border: none;
}
#mainnav div {
  border: none;
}
#mainnav button {
  font-size: 24px;
  color: white;
  border: none;
  box-shadow: none;
  background: none;
  transition: 0.2s;
}
#mainnav button:hover {
  color: #fed136;
  background: none;
  box-shadow: none;
}
#mainnav a {
  font-family: "Kaushan Script";
  font-size: 32px;
  color: #fed136;
}
#mainnav a:hover {
  color: #cd9f01;
}
#mainnav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 16px;
  color: white;
}
#mainnav li a:hover {
  color: #fed136;
}

#sec1 {
  padding-top: 304px;
  padding-bottom: 200px;
}
#sec1 h2 {
  color: white;
  font-size: 40px;
  font-family: "Roboto Slab";
  font-weight: lighter;
}
#sec1 h3 {
  color: white;
  font-size: 72px;
}
#sec1 button {
  background: #fed136;
  border: none;
  text-transform: uppercase;
  padding: 16px 32px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  transition: 0.5s;
}
#sec1 button:hover {
  background: #fec503;
}

#sec2 {
  padding-top: 100px;
  padding-bottom: 100px;
}
#sec2 article i {
  font-size: 64px;
  color: white;
  background: #fed136;
  padding: 32px;
  border-radius: 50%;
}
#sec2 article h2 {
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-size: 24px;
  color: black;
}
#sec2 article p {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: lighter;
}

#sec3 {
  padding-top: 100px;
  padding-bottom: 100px;
}
#sec3 figure {
  border: none;
}
#sec3 figure h2 {
  font-family: "Roboto Slab";
  font-weight: bold;
  color: black;
  font-size: 24px;
  letter-spacing: 1px;
}
#sec3 figure h3 {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 16px;
}

#sec4 {
  padding-top: 40px;
  padding-bottom: 40px;
}
#sec4 article {
  margin-top: 44px;
  margin-bottom: 44px;
}
#sec4 article h6 {
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: bold;
}
#sec4 article h2 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
}
#sec4 article p {
  line-height: 150%;
  font-size: 16px;
  letter-spacing: 1px;
}

#sec5 {
  padding-top: 100px;
  padding-bottom: 100px;
}
#sec5 footer {
  padding-top: 136px;
}
#sec5 main p {
  padding-top: 80px;
}
#sec5 main figcaption h2 {
  font-family: "Montserrat";
  font-weight: bold;
  color: black;
  font-size: 24px;
  letter-spacing: 1px;
}
#sec5 main figcaption h3 {
  font-family: "Roboto Slab";
  font-size: 16px;
}
#sec5 main figcaption li a {
  color: black;
  font-size: 24px;
  transition: 0, 4s;
}
#sec5 main figcaption li a:hover {
  color: #fed136;
}

#sec7 h2 {
  font-size: 16px;
  font-family: "Montserrat";
}
#sec7 li a {
  color: black;
}
#sec7 nav a {
  color: #fed136;
}

/*# sourceMappingURL=style.css.map */
